<link rel="styleshee" href="layouts/css/style.css">

{{#each ideas}}
  <div class="card card-body mb-2 shadow">
    <h4>{{title}}</h4>
    <p>{{details}}</p>
    <div class="container">
      <div class="row">
    <a class="btn btn-dark col-sm-2 m-2" href="/ideas/edit/{{id}}">Edit</a>
    <form  method="post" action="/ideas/{{id}}?_method=DELETE">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" class="btn btn-danger m-2 col" value="Delete">
    </form>
    </div>
    </div>
  </div>

{{else}}
  <p>No Date-night ideas listed</p>
{{/each}}